<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Editing with GANs</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Photo Editing with GANs <small>Nikola Nedeljkovic, Marko Bakovic</small></h1>
    <hr>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="col-md-6">
                <img id="real-image" src="/uploads/{{ filename }}" width="256px" height="256px">
            </div>
            <div class="col-md-6">
                <img id="edit-image" src="/uploads/edit-{{ filename }}" width="256px" height="256px">
            </div>
        </div>

        <br>
        Z = <span id="image-z">{{ z }}</span>
    </div>
    <div class="col-md-6">
        <form class="col-md-12">
        {% for att in attributes %}
            <div class="form-group col-md-3">
                <label>{{ att }}</label>
                <input class="attribute" id="{{ att }}" type="number" step="0.1" min="-1" max="1" value="0">
            </div>
        {% endfor %}
        </form>
    </div>
    <script>
        function getValues(selector){
          var tempValues = {};
          $(selector).each(function(){
             var th= $(this);
             tempValues[th.attr('id')] = th.val();
           });
          return tempValues;
        }

        $(".attribute").change(function() {
            var conf = getValues('.attribute');
            $.post("/editor/{{ filename }}", conf, function(data) {
               console.log('Random image generated');
               $('#edit-image').attr('src', "http://localhost:5000/uploads/edit-{{ filename }}?" + new Date().getTime());
               $('#image-z').html(data)
           });
        });
    </script>
</body>
</html>